.indexFrame{
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.indexFrame .mobileHolder{
    flex-shrink: 0;
}
.mobileHolder{
    display: block;
}
@media (max-width: 800px) {
    .mobileHolder{
        height: 42rem;
    }  
}
@media (min-width: 800px) {
    .mobileHolder{
        height: 0;
    }  
    .typeSelecter[fly=true]{
        top: 0rem;
    }
}