html{
    --fontSize: 1.02px;
}
body{
    color: #000;
    background-color: #fff;
    --button: rgb(220, 220, 220);
}
body[theme=dark]{
    color: #fff;
    background-color: #000;
    --button: rgb(46, 46, 46);
}
.main{
    padding: 30rem 10%;
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
}
.main svg.icon{
    width: 50%;
    max-width: 190rem;
    text-align: center;
}
.title{
    margin: 8rem;
    padding: 0rem;
    font-size: 26rem;
}
.tip{
    margin: 12rem;
    padding: 0;
    font-size: 16rem;
}
.url{
    overflow: overlay;
    word-break: break-all;
    white-space: nowrap;
}
.jumpbutton{
    margin: 5rem 20rem;
    padding: 7rem;
    font-size: 17rem;
    border-radius: 5rem;
    border: none;
    background: var(--button);
    color: inherit;
    cursor: pointer;
}