html{
    --fontSize: 1.09px;
}
body{
    overflow-y: auto;
    overflow-y: overlay;
}
[data-mobile=true] body{
    padding-bottom: 80rem;
}
body{
    --a-color: rgb(0, 153, 255);
}
.nts.card{
    line-height: 1.8;
    margin-bottom: 20rem;
}
.nts img, .nts video{
    border-radius: 6rem;
    max-width: 100%;
}
h1{
    font-size: 1.6em;
}
h2{
    font-size: 1.3em;
}
p{
    font-size: 1em;
}
li, ui{
    margin-left: 1em;
}
a{
    color: var(--a-color);
}