body{
    --i-bgcolor: #9191911c;
    --red: rgb(194, 0, 0);
    --typeSelector-border: #f5f5f5;
    --swiperButton: #fff;
    --stksCos: #333;
    --stksCosBor: rgb(207, 207, 207);
}
body[theme=dark]{
    --i-bgcolor: #9191911c;
    --red: rgb(255, 89, 89);
    --typeSelector-border: #373737;
    --stksCos: #999;
    --stksCosBor: rgb(66, 66, 66);
}
.viewer-container{
    z-index: 99999;
}
.indexFrame{
    overflow: overlay;
}
.indexSwiper{
    height: 200rem;
    margin: 0 10rem!important;
    border-radius: 6rem;
}
.indexSwiper .swiper-button-prev::after, .indexSwiper .swiper-button-next::after{
    font-size: 10rem;
    color: var(--swiperButton);
}
.indexSwiper .swiper-pagination-bullet{
    background: var(--swiper-button);
    opacity: 0.4;
    transition: opacity 0.4s;
}
.indexSwiper *:focus-visible{
    outline: var(--outline);
}
.indexSwiper .swiper-pagination-bullet-active{
    opacity: 1;
}
.indexSwiper .swiper-slide{
    width: 100%;
    height: 100%;
    background-position-x: center;
    background-position-y: 0rem;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.typeContainer{
    position: unset;
    display: block;
    width: 100%;
    height: 48rem;
}
.typeSelecter{
    background: var(--type-selecter-bgcolor);
    word-break: keep-all;
    white-space: nowrap;
    overflow-x: auto;
    overflow-x: overlay;
    overflow-y: initial;
    text-align: center;
    padding: 0 10rem;
    margin: 8rem 10rem 0 10rem;
    border-radius: 6rem;
    transition: all 0.2s;
    border-bottom: 0.5rem solid #ffffff00;
}
.typeSelecter[fly=true]{
    margin: 0;
    padding: 0 20rem;
    border-radius: 0;
    border-bottom: 0.5rem solid var(--typeSelector-border);
}
.typeSelecter:not(*:hover)::-webkit-scrollbar{
    height: 0;
}
.typeSelecter .left{
    float: left;
}
.typeSelecter .right{
    float: right;
}
.typeSelecter label input{
    width: 0;
    height: 0;
    overflow: hidden;
    opacity: 0;
    position: absolute;
    outline: none;
}
.typeSelecter label{
    position: relative;
}
.typeSelecter label span{
    display: inline-table;
    margin: 6rem 2rem 6rem 2rem;
    padding: 5rem 7rem;
    border-radius: 6rem;
    font-size: 15rem;
    color: var(--type-selecter);
}
.typeSelecter label n{
    font-size: 80%;
    margin-left: 5rem;
    opacity: 0.8;
}
.typeSelecter label:not(.noFocus) input:checked + span{
    font-weight: bold;
}
.typeSelecter label input:focus-visible + span{
    outline: var(--outline);
}
.typeSelecter label input:hover + span{
    background: var(--type-selecter-hover-bgcolor);
}
.floatFrame{
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.floatFrame-header{
    flex-shrink: 0;
    overflow: hidden;
    border-radius: 6rem;
}
.floatFrame-content{
    overflow-x: hidden;
    overflow-y: overlay;
}
[data-mobile=true] .floatFrame-content{
    padding-bottom: 20rem;
}
#myPageAcc{
    display: flex;
    flex-direction: column;
    margin-top: 17rem;
}
#accMain, .infoArea{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 1;
}
.infoArea{
    border-radius: 6rem;
    cursor: pointer;
}
.editBut{
    display: none;
    color: var(--card-bottom);
    font-size: 12rem;
    padding: 5rem 6rem;
    border-radius: 4rem;
    background: none;
    border: 1rem solid var(--card-bottom);
    align-self: center;
}
.editBut[data-show=true]{
    display: block;
}
.buttonAni{
    display: block;
    visibility: hidden;
    width: 20rem;
    height: 20rem;
    overflow: visible;
    position: fixed;
    z-index: 1003;
}
.buttonAni .f{
    position: absolute;
    top: calc(50% - 50rem);
    left: calc(50% - 50rem);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    animation: buttonAni_f 2s;
}
.buttonAni .b{
    position: fixed;
    visibility: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url(../img/nmFun_like_background.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    animation: buttonAni_b 2s;
}
@keyframes buttonAni_f {
    0%{
        visibility: visible;
        opacity: 0;
        width: 20rem;
        height: 20rem;
        top: calc(50% - 10rem);
        left: calc(50% - 10rem);
    }
    10%{
        opacity: 1;
    }
    50%{
        width: 100rem;
        height: 100rem;
    }
    60%{
        transform: rotate(-20deg);
    }
    70%{
        transform: rotate(6deg);
    }
    80%{
        opacity: 1;
        width: 100rem;
        height: 100rem;
        visibility: visible;
    }
    100%{
        opacity: 0;
        width: 100rem;
        height: 100rem;
        visibility: hidden;
    }
}
@keyframes buttonAni_b {
    0%{
       visibility: hidden;
       opacity: 0;
    }
    63%{
        visibility: visible;
        opacity: 0;
        width: 200rem;
        height: 200rem;
    }
    67%{
        opacity: 0.8;
    }
    80%{
        opacity: 0.8;
    }
    100%{
        opacity: 0;
        visibility: hidden;
        width: 250rem;
        height: 250rem;
    }
}
#myPageMoreTags{
    display: flex;
    justify-content: space-around;
    opacity: 0;
    padding-bottom: 10rem;
    max-height: 0;
    transition: max-height 0.2s, margin-top 0.2s, opacity 0.15s;
}
#myPageMoreTags[data-show=true]{
    opacity: 1;
    margin-top: 20rem;
    max-height: 45rem;
}
.myPageMoreButton{
    background: none;
    flex-grow: 0;
    flex-shrink: 0;
    border-radius: 6rem;
    width: 30%;
    color: var(--settings-accountBox);
}
.myPageMoreButton .top{
    font-size: 20rem;
    margin: 2rem 4rem;
}
.myPageMoreButton .top{
    font-size: 20rem;
    margin: 2rem 4rem;
}
.myPageLogRequireButtons{
    display: none;
    max-height: 0;
    transition: max-height 0.2s;
}
.myPageLogRequireButtons[data-show=true]{
    display: block;
    max-height: 100vh;
}
.stickersChoose{
    color: var(--stksCos);
    display: flex;
    flex-direction: column;
}
.stickersChoose[open=true]{
    height: min(300rem, 50vh)!important;
}
.stickersChoose .stks{
    flex-grow: 1;
    padding: 0rem 20rem;
    overflow-y: auto;
    overflow-y: overlay;
}
.stickersChoose .stks .set{
    padding-bottom: 6rem;
}
.stickersChoose .stks .set .name{
    font-size: 12rem;
    padding: 3rem 5rem;
}
.stickersChoose .stks .set .list{
    display: inline-flex;
    margin: auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.stickersChoose .stks .set .list button{
    position: relative;
    display: flex;
    width: 70rem;
    height: 70rem;
    background: none;
    overflow: hidden;
}
.stickersChoose .stks .set .list img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 60rem;
    max-height: 60rem;
}
.stickersChoose .bar{
    height: 49rem;
    padding: 0 20rem;
    flex-shrink: 0;
    border-top-style: 1rem solid var(--stksCosBor);
    overflow-x: auto;
    overflow-x: overlay;
    overflow-y: hidden;
}
.stickersChoose .bar button{
    background: none;
    margin: 5rem 2.5rem 0 5rem;
    width: 34rem;
    height: 34rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
img[data-type=sticker]{
    display: inline-block!important;
    margin: 0 3rem -3rem 3rem;
    max-width: 20rem;
    max-height: 20rem;
}
img[data-type=sticker][data-size=middle]{
    max-width: 40rem;
    max-height: 30rem;
}
img[data-type=sticker][data-size=big]{
    max-width: 65rem;
    max-height: 55rem;
}
.stickersSetFrame .main{
    position: absolute;
    top: 45rem;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 12rem 4rem;
    overflow-y: auto;
    overflow-y: overlay;
    align-content: flex-start;
}
.stickersSetFrame .main button{
    flex-grow: 0;
    flex-shrink: 0;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    position: relative;
    width: 76rem;
    height: 97rem;
    padding: 0rem;
    background: none;
}
.stickersSetFrame .main button img{
    margin: 0;-webkit-user-drag: none;
    -moz-user-input: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, calc(-50% - 10rem));
    max-width: 60rem;
    max-height: 60rem;
}
.stickersSetFrame .main button p{
    position: absolute;
    bottom: 8rem;
    left: 0;
    right: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 12rem;
    margin: 0;
    color: var(--stksCos);
    text-align: center;
}