body{
    --i-bgcolor: #9191911c;
    --red: rgb(194, 0, 0);
}
body[theme=dark]{
    --i-bgcolor: #9191911c;
    --red: rgb(255, 89, 89);
}
.viewer-container{
    z-index: 99999;
}
.indexFrame{
    overflow: auto;
}
.indexSwiper{
    height: 200px;
    margin: 0 10px!important;
    border-radius: 6px;
}
.indexSwiper .swiper-button-prev::after, .indexSwiper .swiper-button-next::after{
    font-size: 10px;
    color: var(--swiperButton);
}
.indexSwiper .swiper-pagination-bullet{
    background: var(--swiper-button);
    opacity: 0.4;
    transition: opacity 0.4s;
}
.indexSwiper *:focus-visible{
    outline: var(--outline);
}
.indexSwiper .swiper-pagination-bullet-active{
    opacity: 1;
}
.indexSwiper .swiper-slide{
    width: 100%;
    height: 100%;
    background-position-x: center;
    background-position-y: 0px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.typeContainer{
    position: unset;
    display: block;
    width: 100%;
    height: 48px;
}
.typeSelecter{
    background: var(--type-selecter-bgcolor);
    word-break: keep-all;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: initial;
    padding: 0 10px;
    margin: 8px 10px 0 10px;
    border-radius: 6px;
    transition: all 0.2s;
}
.typeSelecter[fly=true]{
    margin: 0;
    padding: 0 18px;
    border-radius: 0;
}
.typeSelecter:not(*:hover)::-webkit-scrollbar{
    height: 0;
}
.typeSelecter label input{
    width: 0;
    height: 0;
    overflow: hidden;
    position: absolute;
    outline: none;
}
.typeSelecter label{
    position: relative;
}
.typeSelecter label span{
    display: inline-table;
    margin: 6px 2px 6px 2px;
    padding: 5px 7px;
    border-radius: 6px;
    font-size: 15px;
    color: var(--type-selecter);
}
.typeSelecter label input:checked + span{
    font-weight: bold;
}
.typeSelecter label input:focus-visible + span{
    outline: var(--outline);
}
.typeSelecter label input:hover + span{
    background: var(--type-selecter-hover-bgcolor);
}