.searchFrame .main{
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.searchFrame .main .typeContainer{
    flex-shrink: 0;
    margin-bottom: -7px;
}
.searchFrame .main #searchResults{
    overflow: overlay;
}
.unavaliable.search-not-start i{
    background-image: url(../img/search_not_start.png);
}