.searchFrame .main:not(.main *){
    display: flex;
    flex-direction: column;
    overflow: hidden!important;
    height: calc(100% - 45rem);
}
.searchFrame .main .typeContainer{
    flex-shrink: 0;
    margin-bottom: -7rem;
}
.searchFrame .main #searchResults{
    overflow: overlay;
}
.unavaliable.search-not-start i{
    background-image: url(../img/search_not_start.png);
}