body{
    --uInfo-header-text: #000;
    --uInfo-header-text-grey: rgba(0, 0, 0, 0.568);
    --uInfo-header-lin: linear-gradient(to bottom, rgba(0,0,0,0) 40%, var(--page-bgcolor));
    --uInfo-header-data-sepa: rgba(51, 51, 51, 0.342);
    --uInfo-header-interaction-button-positive-color: #000;
    --uInfo-header-interaction-button-positive-background: rgb(255, 208, 0);
    --uInfo-header-interaction-button-positive-border: rgb(255, 208, 0);
    --uInfo-header-interaction-button-negative-color: rgb(0, 0, 0);
    --uInfo-header-interaction-button-negative-background: #fffbe736;
    --uInfo-header-interaction-button-negative-border: rgb(255, 208, 0);
}
body[theme=dark]{
    --uInfo-header-text: rgb(255, 255, 255);
    --uInfo-header-text-grey: rgba(255, 255, 255, 0.568);
    --uInfo-header-lin: linear-gradient(to bottom, rgba(0,0,0,0) 40%, var(--page-bgcolor));
    --uInfo-header-data-sepa: rgba(255, 255, 255, 0.342);
    --uInfo-header-interaction-button-positive-color: #000;
    --uInfo-header-interaction-button-positive-background: rgb(255, 208, 0);
    --uInfo-header-interaction-button-positive-border: rgb(255, 208, 0);
    --uInfo-header-interaction-button-negative-color: rgb(255, 255, 255);
    --uInfo-header-interaction-button-negative-background: #46464636;
    --uInfo-header-interaction-button-negative-border: rgb(255, 208, 0);
}
.userHeader, .uHeaderMain{
    position: relative;
    height: 220rem;
    overflow: hidden;
    border-radius: 6rem;
    flex-shrink: 0;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}
.uHeaderMain{
    margin: 10rem 10rem 0 10rem!important;
    background: url(https://ci.cncn3.cn/58ccf2b22ffbaf266b966d387519825a.png) center center no-repeat;
    background-size: cover;
}
.userHeader .lin, .uHeaderMain, .uHeaderInfos{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 220rem;
}
.userHeader .lin{
    z-index: 1;
    background: var(--uInfo-header-lin);
}
.uHeaderInfos{
    z-index: 2;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
    text-align: center;
    margin-bottom: 15rem;
    color: var(--uInfo-header-text);
}
.uHeaderMain button.avatar{
    width: 50rem;
    height: 50rem;
    background-image: url(https://static.hdslb.com/images/akari.jpg);
    background-size: 50rem 50rem;
    border-radius: 25rem;
}
.uHeaderInfos .name{
    font-size: 21rem;
    margin: 10rem 30rem;
    width: calc(100% - 60rem);
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: break-all;
    display: flex;
    align-items: center;
    user-select: all;
    -webkit-user-select: all;
    -moz-user-select: all;
}
.uHeaderMain .uHeaderInfos .data{
    display: flex;
    flex-flow: wrap;
    margin: 0 20rem;
}
.uHeaderMain .uHeaderInfos .data button{
    color: var(--uInfo-header-text-grey);
    background: none;
    border: none;
    border-radius: 0;
    font-size: 14rem;
    padding: 0rem 7rem;
    flex-shrink: 0;
    word-break: keep-all;
}
.uHeaderMain .uHeaderInfos .data button span{
    padding-left: 5rem;
    /* font-weight: bold; */
    color: var(--uInfo-header-text);
}
.uHeaderMain .uHeaderInfos .data button:not(:first-child){
    border-left: 1rem solid var(--uInfo-header-data-sepa);
}
.uHeaderMain .uHeaderInfos .interaction{
    margin: 8rem 20rem 0 20rem;
    text-align: center;
}
.uHeaderMain .uHeaderInfos .interaction button{
    border: 1rem solid #00000000;
    border-radius: 500rem;
    font-size: 14rem;
    padding: 5rem 11rem;
    flex-shrink: 0;
    word-break: keep-all;
}
.uHeaderMain .uHeaderInfos .interaction button i{
    display: inline-block;
    position: relative;
    top: 4rem;
    margin: 0 0 0 -2rem;
    font-size: 18rem;
    height: 12rem;
    line-height: 0;
}
.uHeaderMain .uHeaderInfos .interaction button.posi{
    color: var(--uInfo-header-interaction-button-positive-color);
    background: var(--uInfo-header-interaction-button-positive-background);
    border-color: var(--uInfo-header-interaction-button-positive-border);
}
.uHeaderMain .uHeaderInfos .interaction button.nega{
    color: var(--uInfo-header-interaction-button-negative-color);
    background: var(--uInfo-header-interaction-button-negative-background);
    border-color: var(--uInfo-header-interaction-button-negative-border);
}
.userMainCards{
    overflow: overlay;
    border-radius: 6rem 6rem 0 0;
    padding-top: 0rem;
}